---
const { text, href, className, id } = Astro.props;
---

<a
    id={id}
    href={href}
    class={`relative overflow-hidden cursor-pointer font-medium rounded-full inline-flex items-center justify-center transition-all duration-300 active:scale-[0.98] hover:scale-[1.02]
    bg-[#2D1B15]/60 backdrop-blur-xl
    text-white!text-[clamp(0.5rem,0.5rem+1vw,1rem)] md:text-[clamp(2.25rem,1rem+1.5vw,4rem)] lg:text-3xl lg:py-7 lg:px-14 py-4 px-6 md:py-6 md:px-12 ${className}`}
    style={{
        boxShadow: [
            "0px 10px 15px -3px rgba(0, 0, 0, 0.2)",
            "inset 0 4px 6px rgba(255, 255, 255, 0.06)",
        ].join(", "),
    }}
>
    <div
        class="absolute inset-0 rounded-full p-px pointer-events-none mask-[linear-gradient(to_right,black_0%,black_20%,transparent_95%)]"
    >
        <div class="absolute inset-0 rounded-full border border-white/25"></div>
    </div>

    <span
        class="relative z-10 select-none uppercase tracking-[0.15em] whitespace-nowrap"
        style={{
            textShadow: "0.5px 0.5px 1px rgba(255,255,255,0.1)",
        }}
    >
        {text}
    </span>
</a>
